/* app/globals.css */
@import "tailwindcss";

@plugin "daisyui";
/* Add Google Fonts - Inter for a clean modern look */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
